{% extends "layout.html" %}
{% block body %}

    <a href="{{ url_for("profile") }}">back to profile</a>

    <h2>Movie Name:</h2>
    <h3>{{ specific_movie.title }}</h3>

    <br>
    <br>

    <h2>The average rating is: {{ average_rating }}</h2>

    <br>
    <br>

    <h2>You have already rated this movie as: {{ existing_user_rating }}</h2>

    <br>
    <br>

    {% if predicted_rating %}
        <h2>We predict that you would rate this movie as: {{ predicted_rating }}</h2>
    {% endif %}

    <br>
    <br>

    <h2>The Judgemental Eye rated this movie as: {{ eye_rating }}</h2>
    <h3>The difference between you and the Judgemental Eye is: {{ difference }}</h3>
    <h3>The Judgemental Eye says to you: {{ beratement }}</h3>

    <br>
    <br>

    <form action="/add_rating/{{ specific_movie.id }}" method=POST>

        <label><h2>Add my rating:</h2>
        <select name = "my_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </label>

        <input type=submit value="Submit">

    </form>

{% endblock %}